apiVersion: v1  
kind: Service  
metadata:  
  labels:  
    app: controller 
  name: controller 
  namespace: default  
spec:  
  type: NodePort  
  ports:  
  - port: 80
    name: eureka-port
    targetPort: 8888
    nodePort: 30001
  - port: 8080
    name: zuul-port
    targetPort: 8889
    nodePort: 30002
  selector: 
    app: controller 
