apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-zuul
spec:
  selector:
    matchLabels:
      app: controller 
  replicas: 1
  template:
    metadata:
      labels:
        app: controller 
    spec:
      containers:
      - name: controller-zull
        image: jkong85/dg-controller-zuul:0.1
        env:
        - name: EUREKA_SERVER_IP
          VALUE_EUREKA_SERVER_IP
        ports:
        - containerPort: 8889
      nodeSelector:
        kubernetes.io/hostname: HOST_NAME
